  <html lang="en">
    <head>
      <meta charset="utf-8">
        <title>formBuilder - Render</title>
    </head>
    <body>
    
    <div>
          <label for="authkey" class="formbuilder-text-label">authkey</label>
          <input type="text" name="authkey" id="authkey" onchange="auth(this.value)">
            </div>

    <div id="savedresponses" style="overflow: auto; height:200px">
    <a href="/formbuilder/<%- _id %>">Form Builder - Update/Edit Form Template </a><br />
    <a href="/formbuilder/render/<%- _id %>/">Add New - Response/Form</a><br />
    <label for="title" class="formbuilder-text-label">Saved Responses</label>
      <ul id="forms"></ul>
    </div>


    <div id="renderedresponse" style="display:none">
    <label for="renderedresponse" class="formbuilder-text-label"> Current Response #<%- responseid %></label>
    </div>
      
           

            <div id="fb-render"></div>
            <button id="save" onclick="response(renderform.userData)">Save Form Response Data</button>

       <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
      <script src="https://formbuilder.online/assets/js/form-render.min.js"></script>
      <script>
      function auth(value){
  localStorage.setItem("authkey", value);
}

function get_auth(key){
  return localStorage.getItem(key);
}

document.getElementById('authkey').value = get_auth("authkey") 

var responses = <%- JSON.stringify(response) %>
var selectedresponse = responses[ '<%- responseid %>' ];
var button = document.getElementById("save");
var savedresponses = document.getElementById("savedresponses");
var renderedresponse = document.getElementById("renderedresponse");

if(selectedresponse){
    if (button.style.display === "none") {
      button.style.display = "block";
      savedresponses.style.display = "none";

    } else {
      button.style.display = "none";
      renderedresponse.style.display = "block";
    }
}

responses.forEach( (form, formid) => {      
  a = document.createElement('a');
  li = document.createElement('li');
  a.href='/formbuilder/render/<%- _id %>/'+formid;
  a.innerText =  form?.title +" |"+ formid;
  li.appendChild(a)
  document.getElementById('forms').appendChild(li)
});


        var fbTemplate = document.getElementById('fb-render');


        let customfields = [{
    label: 'Signature',
    attrs: {
      type: 'signature'
    },
    icon: '&#9998;'
  },{
    label: 'Rating',
    attrs: {
      type: 'rating'
    },
    icon: '🌟'
  }];
  
  let customTemplates = {
    signature: function(fieldData) {
      return {
        field: '<div><input class="form-control" value="'+(fieldData.value ? fieldData.value : "")+'" id="'+fieldData.id+'" name="'+fieldData.name+'" type="hidden" /> <canvas style="padding:5px;outline: black 3px solid;" id="_'+fieldData.id+'"></canvas></div>',
        onRender: function() {
          var signaturePad = new SignaturePad(document.getElementById( `_${fieldData.name}`) );
         if(fieldData.userData) signaturePad.fromData(JSON.parse(fieldData.userData));
          signaturePad.addEventListener("endStroke",(signature)=>{
            document.getElementById(fieldData.name).setAttribute("value", JSON.stringify(signaturePad.toData()))
          })
        }
      };
    },
    rating: function(fieldData) {
      return {
        field: '<div><input class="form-control" value="'+(fieldData.value ? fieldData.value : "")+'" id="'+fieldData.id+'" name="'+fieldData.name+'"  type="hidden" /> <span id="_'+fieldData.id+'"></div>',
        onRender: function() {        
          var rate = $(document.getElementById(`_${fieldData.name}`)).rateYo(fieldData.userData ? JSON.parse(fieldData.userData) : {});
              rate.on("rateyo.set", function (e, data) { 
                document.getElementById(fieldData.name).setAttribute("value", JSON.stringify(data))
              });
        }
      };
    }
    
  };

        var renderform = $(fbTemplate).formRender({
                    fields: customfields,
                    templates:customTemplates,
          formData: selectedresponse ? selectedresponse.data :  <%- (typeof data.form == "object" ? JSON.stringify(data.form) : data.form) %> 
          });


       async function attachfiles(userData){
            var attachform = new FormData();
          
          if(userData && userData?.entries()){
            for (const [index, element] of userData.entries()){
              var docs = document.getElementById(element.name)?.files

              if(element.type == "file" && docs.length){
                
                for (x =0; x <= docs.length -1;x++ ){//( ( file ) =>{
                  attachform.append("files", docs.item(x));
                }

                attachform.append("title", "title of the file");
                attachform.append("notes", "notes of the file");

                userData[index]['upload']  = await $.ajax({
                  url: '/upload',
                  type: 'POST',
                  processData: false, // important
                  contentType: false, // important
                  headers: {"Authorization": `Bearer ${get_auth('authkey')}`},
                  dataType: "json",
                  data: attachform
                })     
          
              }
            };
          }

           return userData

}

        async function response(userData){
          
         var result = await $.ajax({
            url: '/form/response/<%- _id %>',
            type: 'PUT',
            contentType: "application/json",
            headers: {"Authorization":  `Bearer ${get_auth('authkey')}` },
            data: JSON.stringify({
              'response': {
                "data": await attachfiles(userData), 
                "created": new Date()
              }
            })  
          }); 


          $(fbTemplate).formRender('clear')

          alert("Form Response Saved!")
       //  console.log("result",result)

        }
      </script>
    </body>
  </html>